# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore log files
*.log
*.txt

# Ignore virtual environment
venv/
env/
.venv/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo
*.bak

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other system files
.DS_Store
Thumbs.db
